


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1600px;
    font-family:"roboto", Arial, Helvetica, sans-serif;

}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root{
    --main-color:#3c94bd;
    --headingtext:white;
    --lightcolor: #e9f4f3;
    --graycolor: #97aab3;
    /* #c8e4ec */
}

header{
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 15px;
}

.header-content-left{
    display: flex;
    text-align: center;
    align-items: center;
}

.headerpic{
    margin: 15px;
    height: 100px;
}

nav a{
    padding: 15px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: var(--headingtext);
}

.hamburger {
    display: none;
}

header{
    background-color: var(--main-color);  
}

main{
    margin: 20px;
}

h4{
    color: white;
}



.moving-heading {
    animation: moveBackAndForth 5s ease-in-out infinite;
}

.moving-heading {
    animation-name: moveBackAndForth;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
} 


@keyframes moveBackAndForth {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(200px);
    }
    100% {
        transform: translateX(0);
    }
}


.homecards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin: 20px;
}


.babycard, .livecard, .joincard{
    background-color:var(--lightcolor);
    height: auto;
    padding: 15px;
}



.heroimg{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
}

h1{
    color:var(--headingtext);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2, h3, h4,h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    background-color: var(--main-color);
    height: auto;
    padding: 20px;
    font-size: 1.2em;
    color: white;
}


footer img{
    height: 4em;
    padding: 15px;
}

  .member-card a {
    text-decoration: none;
    color: rgb(32, 32, 147);
    cursor: pointer;
  }
  
  .container {
    display: flex;
  }
  
  .cards-container {
    flex-direction: column;
    margin-left: 20px;
  }
  
 



  .form-container {
    width: 100%;
    max-width: 500px;
    background-color: var(--lightcolor);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}



/* Form Group Styling */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], input[type="tel"], select {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, select:focus {
    border-color: #2a7c92;
    outline: none;
}

/* Button Styling */
button {
    background-color: #2a7c92;
    color: #fff;
    font-size: 16px;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218d7c;
}



  
  



/* Media query for mobile view */
@media (max-width: 768px) {
    main {
        display: block;
    }

    footer{
        display: block;
    }

    footer img{
        display: inline;
    }

    .homecards, .buscards, .spotlight-container {
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }
        
    .heroimg img{ 
        width: 100%; /* Make the image responsive */ 
        height: auto; /* Maintain aspect ratio */ 
        max-width: 400px; /* Optional: Limit the maximum height */
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: black;
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    } 

    .nav-links a {
        padding: 20px;
        background-color: black;
    }

    .nav-links.show {
        display: flex;
    }
    
    .hamburger {
        display: block;
        text-align: center;
        font-size: 25pt;
        color: white;
    }




}








