
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1600px;
    font-family:"roboto", Arial, Helvetica, sans-serif;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root{
    --main-color:rgb(13, 86, 120);
    --headingtext: rgb(255, 227, 194);
}

header{
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 15px;
}

.header-content-left{
    display: flex;
    text-align: center;
    align-items: center;
}

.headerpic{
    margin: 15px;
    height: 100px;
}

nav a{
    padding: 15px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: var(--headingtext);
}

.hamburger {
    display: none;
}

header{
    background-color: var(--main-color);  
}

main{
    margin: 20px;
}

h4{
    color: white;
}

.homecards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin: 20px;
}

.buscards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin: 20px;
}

.card p {
    margin-bottom: 3px;
}


.grid-view .card{
    border: 1px solid black;
    text-decoration: none;
}

.grid-view .name{
    border-bottom: solid black 1px;
}


.list-view .buscards {
    display: block;
}

.list-view .card {
    width: 100%;
    float: none;
    margin-bottom: 20px; 
    padding: 10px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr
}



.grid-view .address,
.list-view .busimg
{
    display: none;
}

#grid-view-btn,
#list-view-btn{
    padding: 10px;
    margin-left: 20px;
}

.card img{
    height: 80px;
    float: left;
    padding: 5px;
}

.card{
    background-color: var(--headingtext);
}

.eventcard, .currentcard, .forcastcard{
    background-color: var(--headingtext);
    height: 100px;
}

.heroimg{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
}

h1{
    color:var(--headingtext);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    background-color: var(--main-color);
    height: auto;
    padding: 20px;
    font-size: 1.2em;
    color: white;
}

.copytext{
    color: white;
}

footer img{
    height: 4em;
    padding: 15px;
}




/* Media query for mobile view */
@media (max-width: 768px) {
    main {
        display: block;
    }

    footer{
        display: block;
    }

    footer img{
        display: inline;
    }

    .homecards, .buscards {
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }
        
    .heroimg img{ 
        width: 100%; /* Make the image responsive */ 
        height: auto; /* Maintain aspect ratio */ 
        max-width: 400px; /* Optional: Limit the maximum height */
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: black;
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    } 

    .nav-links a {
        padding: 20px;
        background-color: black;
    }

    .nav-links.show {
        display: flex;
    }
    
    .hamburger {
        display: block;
        text-align: center;
        font-size: 25pt;
        color: white;
    }

    #grid-view-btn,
    #list-view-btn{
        display: none;
    }



}


